<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Folio</title>
</head>
<body style="overflow: auto;">
    <div class="sidenav">
        <p class="name"><%= user.name %></p>
        <ul class="social_list">
            <% if (user.linkedin.length > 0) { %>
                <a href="<%= user.linkedin %>" target="_blank"><img src="/images/linkedin.png" class="icon"></a>
            <% } %> 
        <% if (user.github.length > 0) { %>
            <a href="<%= user.github %>" target="_blank"><img src="/images/github.png" class="icon"></a>
        <% } %> 
        <% if (user.medium.length > 0) { %>
            <a href="<%= user.medium %>" target="_blank"><img src="/images/medium.png" class="icon"></a>
        <% } %> 
        <% if (user.personal_web.length > 0) { %>
            <a href="<%= user.personal_web %>" target="_blank"><img src="/images/personal.png" class="icon"></a>
        <% } %> 
        </ul>
        <!-- <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a> -->
      </div>
    <% for (var i = 0; i < projects.length; i++) { %>
        <div class="fullcontainer">
    <a href="<%= projects[i].project_url %>" target="_blank">
                <img src="<%= projects[i].url %>" alt="image" class="project_image">
            </a>
            <div class="project_text">
                <p class="project_name"><%= projects[i].project_name %></p>
                <p class="project_desc"><%= projects[i].project_desc %></p>
            </div>
        </div> <br><br>
    <% } %>
</body>
</html>