<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Folio</title>
</head>
<body style="overflow: auto;">
    <div class="sidenav">
        <p class="name"><%= user.name %></p>
        <div class="social-buttons">
            <% if (user.linkedin.length > 0) { %>
                <a href="<%= user.linkedin %>" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
                    <span class="social-button__inner">
                     <i class="fa fa-linkedin"></i>
                    </span>
                </a>
            <% } %> 
            <% if (user.github.length > 0) { %>
                <a href="<%= user.github %>" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
                    <span class="social-button__inner">
                     <i class="fa fa-github"></i>
                    </span>
                  </a>
            <% } %> 
            <% if (user.medium.length > 0) { %>
                <a href="<%= user.medium %>" class="social-buttons__button social-button social-button--codepen" aria-label="CodePen">
                    <span class="social-button__inner">
                     <i class="fa fa-medium"></i>
                    </span>
                  </a>
            <% } %>
            <% if (user.personal_web.length > 0) { %>
                <a href="<%= user.personal_web %>" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                    <span class="social-button__inner">
                        <i class="fas fa-portrait"></i>
                    </span>
                  </a>
            <% } %>
          </div>
        <!-- <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a> -->
      </div>
    <% for (var i = 0; i < projects.length; i++) { %>
        <div class="fullcontainer">
    <a href="<%= projects[i].project_url %>" target="_blank">
                <img src="<%= projects[i].url %>" alt="image" class="project_image">
            </a>
            <div class="project_text">
                <p class="project_name"><%= projects[i].project_name %></p>
                <p class="project_desc"><%= projects[i].project_desc %></p>
            </div>
        </div> <br><br>
    <% } %>
</body>
</html>